# eBay Car listings

The aim of this project is to play with a eBay car listing Data set originally crawled and uploaded to Kaggle. We now have to clean it and play with it to practice the benefits of Pandas/Jupyter 

Let's start by importing the Dataset and reading into a df

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos=pd.read_csv('autos.csv', encoding = 'Latin-1')

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

We sucessfully read the file into autos variable. 

The dataset contains 20 columns, most of which are strings.
Some columns have null values, but none have more than ~20% null values.
The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

Let's convert the column names from camelcase to snakecase and reword some of the column names based on the data dictionary to be more descriptive.

In [5]:
columns=list(autos.columns)
columns

['dateCrawled',
 'name',
 'seller',
 'offerType',
 'price',
 'abtest',
 'vehicleType',
 'yearOfRegistration',
 'gearbox',
 'powerPS',
 'model',
 'odometer',
 'monthOfRegistration',
 'fuelType',
 'brand',
 'notRepairedDamage',
 'dateCreated',
 'nrOfPictures',
 'postalCode',
 'lastSeen']

In [6]:
columns[0]='date_crawled'
columns[3]='offer_type'
columns[6]='vehicle_type'
columns[9]='power_ps'
columns[13]='fuel_type'
columns[17]='nr_of_pictures'
columns[18]='postal_code'
columns[19]='last_seen'
columns[7]='registration_year'
columns[12]='registration_month'
columns[15]='unrepaired_damage'
columns[16]='ad_created'

In [7]:
columns

['date_crawled',
 'name',
 'seller',
 'offer_type',
 'price',
 'abtest',
 'vehicle_type',
 'registration_year',
 'gearbox',
 'power_ps',
 'model',
 'odometer',
 'registration_month',
 'fuel_type',
 'brand',
 'unrepaired_damage',
 'ad_created',
 'nr_of_pictures',
 'postal_code',
 'last_seen']

In [8]:
autos.columns=columns

In [9]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [10]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

We can now see a more uniform style on the columns names which makes it easier to then work with the dataset.

when we use a standard for naming columns (and anything per se), it becomes easier to write code rather than going back every time to check the column names.

### Now let's do some basic data exploration to determine what other cleaning tasks need to be done

In [11]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-14 20:50:02,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [12]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null object
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer              50000 non-null object
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

We can see that:
    - the price and odometer columns are stored as string. we should convert them to number
    - the nr_of_pictures has mostly the same value. we most likely won't use that for analysis so we can drop it

In [13]:
autos['price'].head()

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

let's remove the dollar sign and comma and convert it to int

In [14]:
autos['price']=autos['price'].str.replace('$','')

In [15]:
autos['price']=autos['price'].str.replace(',','')

In [16]:
autos['price']=autos['price'].astype(float)

In [17]:
autos['price'].head()

0    5000.0
1    8500.0
2    8990.0
3    4350.0
4    1350.0
Name: price, dtype: float64

In [18]:
autos['odometer'].head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

In [19]:
autos['odometer']=autos['odometer'].str.replace(',','')
autos['odometer']=autos['odometer'].str.replace('km','')
autos['odometer']=autos['odometer'].astype(int)

In [20]:
autos.rename(columns={'odometer': 'odometer_km'},inplace=True)

In [21]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

further exploring data

now, let's focus on price and odometer columns

In [22]:
autos['odometer_km'].unique()

array([150000,  70000,  50000,  80000,  10000,  30000, 125000,  90000,
        20000,  60000,   5000, 100000,  40000])

In [23]:
autos['odometer_km'].unique().shape

(13,)

In [24]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [25]:
autos['odometer_km'].value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

The Odometer column seems to have proper values. No extreme outliers or incoherent values.
only observation is that 75% of the cars are close to the 150K km mark. Mostly very used cars.

In [26]:
autos['price'].unique()

array([ 5000.,  8500.,  8990., ...,   385., 22200., 16995.])

In [27]:
autos['price'].unique().shape

(2357,)

In [28]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [29]:
autos['price'].value_counts(ascending=True).head(10)

789.0      1
11240.0    1
898.0      1
18310.0    1
6202.0     1
69900.0    1
3129.0     1
310.0      1
5248.0     1
2785.0     1
Name: price, dtype: int64

In [30]:
autos['price'].sort_values(ascending=False).head(50)

39705    99999999.0
42221    27322222.0
39377    12345678.0
47598    12345678.0
27371    12345678.0
2897     11111111.0
24384    11111111.0
11137    10000000.0
47634     3890000.0
7814      1300000.0
22947     1234566.0
43049      999999.0
514        999999.0
37585      999990.0
36818      350000.0
14715      345000.0
34723      299000.0
35923      295000.0
12682      265000.0
47337      259000.0
38299      250000.0
37840      220000.0
40918      198000.0
43668      197000.0
28090      194000.0
20351      190000.0
17140      180000.0
11433      175000.0
32840      169999.0
18509      169000.0
22673      163991.0
45387      163500.0
10500      155000.0
33638      151990.0
49668      145000.0
32185      139997.0
2454       137999.0
14268      135000.0
49815      130000.0
1878       129000.0
8232       128000.0
2751       120000.0
44406      120000.0
43282      119900.0
38814      119500.0
33884      116000.0
21783      115991.0
7402       115000.0
22060      114400.0
49391      109999.0
Name: price, dtype: float64

In [31]:
autos['price'].sort_values().head(1650)

18089     0.0
43923     0.0
15225     0.0
29499     0.0
8445      0.0
38832     0.0
43925     0.0
8438      0.0
35821     0.0
31332     0.0
12819     0.0
33620     0.0
15208     0.0
2481      0.0
4266      0.0
27020     0.0
35819     0.0
31336     0.0
29482     0.0
47861     0.0
21253     0.0
37021     0.0
29503     0.0
21256     0.0
2470      0.0
24871     0.0
31264     0.0
1220      0.0
24900     0.0
21171     0.0
         ...
28120    30.0
24951    30.0
30781    30.0
10258    35.0
4364     40.0
25251    40.0
47833    40.0
64       40.0
31980    40.0
31977    40.0
7770     45.0
14270    45.0
13227    45.0
28763    45.0
46184    47.0
6936     49.0
4164     49.0
46890    49.0
20541    49.0
25806    50.0
41971    50.0
37597    50.0
34923    50.0
13132    50.0
15462    50.0
37787    50.0
12958    50.0
29051    50.0
24889    50.0
47866    50.0
Name: price, Length: 1650, dtype: float64

let's clean the data a little bit by getting rid of values under 50 and over 350000

In [32]:
autos['price'] = autos['price'][autos['price'].between(50,350000)]

In [33]:
autos.head(10)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,7900.0,test,bus,2006,automatik,150,voyager,150000,4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,300.0,test,limousine,1995,manuell,90,golf,150000,8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,1990.0,control,limousine,1998,manuell,90,golf,150000,12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,250.0,test,NaN,2000,manuell,0,arosa,150000,10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,590.0,control,bus,1997,manuell,90,megane,150000,7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35

Let's now take a deeper look into the date columns and see what we have there. Typically, dates values need some cleaning up, reformatting, or cast into numeric values before we can properly analyze the data.

In [34]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,48347.000000,50000,44905,50000.000000,47320,50000.000000,47242,50000.000000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,NaN,2,8,NaN,2,NaN,245,NaN,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-14 20:50:02,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,NaN,25756,12859,NaN,36993,NaN,4024,NaN,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,5915.456099,NaN,NaN,2005.073280,NaN,116.355920,NaN,125732.700000,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,9071.625794,NaN,NaN,105.712813,NaN,209.216627,NaN,40042.211706,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,50.000000,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,1250.000000,NaN,NaN,1999.000000,NaN,70.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,3000.000000,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,7499.000000,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,350000.000000,NaN,NaN,9999.000000,NaN,17700.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [35]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 48347 non-null float64
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: float64(1), int64(6), object(13)
memory usage: 7.6+ MB

as we can see, date_crawled, ad_created and last_seen are all string columns in python. We need to change them to numeric values. Let's see how they are formatted

In [36]:
autos[['last_seen','date_crawled','ad_created']].head()

             last_seen         date_crawled           ad_created
0  2016-04-06 06:45:54  2016-03-26 17:47:46  2016-03-26 00:00:00
1  2016-04-06 14:45:08  2016-04-04 13:38:56  2016-04-04 00:00:00
2  2016-04-06 20:15:37  2016-03-26 18:57:24  2016-03-26 00:00:00
3  2016-03-15 03:16:28  2016-03-12 16:58:10  2016-03-12 00:00:00
4  2016-04-01 14:38:50  2016-04-01 14:38:50  2016-04-01 00:00:00

let's see the date range of these ads

In [37]:
autos['ad_created']=autos['ad_created'].str[:10]

In [38]:
autos['ad_created'].head()

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: ad_created, dtype: object

In [39]:
autos['last_seen']=autos['last_seen'].str[:10]
autos['date_crawled']=autos['date_crawled'].str[:10]

In [40]:
autos['ad_created'].value_counts(normalize=True,dropna=False).sort_index()

2015-06-11    0.00002
2015-08-10    0.00002
2015-09-09    0.00002
2015-11-10    0.00002
2015-12-05    0.00002
2015-12-30    0.00002
2016-01-03    0.00002
2016-01-07    0.00002
2016-01-10    0.00004
2016-01-13    0.00002
2016-01-14    0.00002
2016-01-16    0.00002
2016-01-22    0.00002
2016-01-27    0.00006
2016-01-29    0.00002
2016-02-01    0.00002
2016-02-02    0.00004
2016-02-05    0.00004
2016-02-07    0.00002
2016-02-08    0.00002
2016-02-09    0.00004
2016-02-11    0.00002
2016-02-12    0.00006
2016-02-14    0.00004
2016-02-16    0.00002
2016-02-17    0.00002
2016-02-18    0.00004
2016-02-19    0.00006
2016-02-20    0.00004
2016-02-21    0.00006
               ...
2016-03-09    0.03324
2016-03-10    0.03186
2016-03-11    0.03278
2016-03-12    0.03662
2016-03-13    0.01692
2016-03-14    0.03522
2016-03-15    0.03374
2016-03-16    0.03000
2016-03-17    0.03120
2016-03-18    0.01372
2016-03-19    0.03384
2016-03-20    0.03786
2016-03-21    0.03772
2016-03-22    0.03280
2016-03-23    0.03218
2016-03-24    0.02908
2016-03-25    0.03188
2016-03-26    0.03256
2016-03-27    0.03090
2016-03-28    0.03496
2016-03-29    0.03414
2016-03-30    0.03344
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03508
2016-04-03    0.03892
2016-04-04    0.03688
2016-04-05    0.01184
2016-04-06    0.00326
2016-04-07    0.00128
Name: ad_created, Length: 76, dtype: float64

In [41]:
autos['last_seen'].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.00108
2016-03-06    0.00442
2016-03-07    0.00536
2016-03-08    0.00760
2016-03-09    0.00986
2016-03-10    0.01076
2016-03-11    0.01252
2016-03-12    0.02382
2016-03-13    0.00898
2016-03-14    0.01280
2016-03-15    0.01588
2016-03-16    0.01644
2016-03-17    0.02792
2016-03-18    0.00742
2016-03-19    0.01574
2016-03-20    0.02070
2016-03-21    0.02074
2016-03-22    0.02158
2016-03-23    0.01858
2016-03-24    0.01956
2016-03-25    0.01920
2016-03-26    0.01696
2016-03-27    0.01602
2016-03-28    0.02086
2016-03-29    0.02234
2016-03-30    0.02484
2016-03-31    0.02384
2016-04-01    0.02310
2016-04-02    0.02490
2016-04-03    0.02536
2016-04-04    0.02462
2016-04-05    0.12428
2016-04-06    0.22100
2016-04-07    0.13092
Name: last_seen, dtype: float64

In [42]:
autos['date_crawled'].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.02538
2016-03-06    0.01394
2016-03-07    0.03596
2016-03-08    0.03330
2016-03-09    0.03322
2016-03-10    0.03212
2016-03-11    0.03248
2016-03-12    0.03678
2016-03-13    0.01556
2016-03-14    0.03662
2016-03-15    0.03398
2016-03-16    0.02950
2016-03-17    0.03152
2016-03-18    0.01306
2016-03-19    0.03490
2016-03-20    0.03782
2016-03-21    0.03752
2016-03-22    0.03294
2016-03-23    0.03238
2016-03-24    0.02910
2016-03-25    0.03174
2016-03-26    0.03248
2016-03-27    0.03104
2016-03-28    0.03484
2016-03-29    0.03418
2016-03-30    0.03362
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03540
2016-04-03    0.03868
2016-04-04    0.03652
2016-04-05    0.01310
2016-04-06    0.00318
2016-04-07    0.00142
Name: date_crawled, dtype: float64

We can see that the bot was crawling for about a month between march and april 2016

In [43]:
autos['registration_year'].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Two odd values stand out: min and max are probably wrong numbers. Other than that, we can see that the majority of vehicles are from 2003 to 2008. with a few older models and maybe not so many new models

Let's count the number of listings with cars that fall outside the 1900 - 2016 interval and see if it's safe to remove those rows entirely, or if we need more custom logic.

In [47]:
autos[autos['registration_year']<1950].sort_values(by='registration_year')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
22316,2016-03-29,VW_Kaefer.__Zwei_zum_Preis_von_einem.,privat,Angebot,1500.0,control,NaN,1000,manuell,0,kaefer,5000,0,benzin,volkswagen,NaN,2016-03-29,0,48324,2016-03-31
49283,2016-03-15,Citroen_HY,privat,Angebot,7750.0,control,NaN,1001,NaN,0,andere,5000,0,NaN,citroen,NaN,2016-03-15,0,66706,2016-04-06
24511,2016-03-17,Trabant__wartburg__Ostalgie,privat,Angebot,490.0,control,NaN,1111,NaN,0,NaN,5000,0,NaN,trabant,NaN,2016-03-17,0,16818,2016-04-07
35238,2016-03-26,Suche_Skoda_Fabia____Skoda_Fabia_Combi_mit_Klima,privat,Angebot,NaN,control,NaN,1500,NaN,0,NaN,5000,0,benzin,skoda,NaN,2016-03-26,0,15517,2016-04-04
10556,2016-04-01,UNFAL_Auto,privat,Angebot,450.0,control,NaN,1800,NaN,1800,NaN,5000,2,NaN,mitsubishi,nein,2016-04-01,0,63322,2016-04-01
32585,2016-04-02,UNFAL_Auto,privat,Angebot,450.0,control,NaN,1800,NaN,1800,NaN,5000,2,NaN,mitsubishi,nein,2016-04-02,0,63322,2016-04-04
46213,2016-04-02,Bellier_Vario,privat,Angebot,NaN,test,kleinwagen,1910,NaN,0,NaN,5000,1,andere,sonstige_autos,NaN,2016-04-02,0,93105,2016-04-04
22659,2016-03-14,Opel_Corsa_B,privat,Angebot,500.0,test,NaN,1910,NaN,0,corsa,150000,0,NaN,opel,NaN,2016-03-14,0,52393,2016-04-03
15898,2016-03-08,Tausch_alles_aus_meinen_Anzeigen_gegen_Auto,privat,Angebot,NaN,test,NaN,1910,NaN,0,NaN,5000,0,NaN,sonstige_autos,NaN,2016-03-08,0,6108,2016-03-08
33295,2016-03-12,Ich_verkaufe/suche_fuer_sie_ihr_Auto!!,privat,Angebot,NaN,control,NaN,1910,NaN,0,NaN,5000,0,NaN,sonstige_autos,NaN,2016-03-12,0,37075,2016-03-19
42181,2016-03-27,SAMSUNG_55Â“_3D_Tv_und_Soundbar_gegen_Auto,privat,Angebot,NaN,test,NaN,1910,NaN,0,NaN,5000,0,NaN,sonstige_autos,NaN,2016-03-27,0,57080,2016-04-06
3679,2016-04-04,Suche_Auto,privat,Angebot,NaN,test,NaN,1910,NaN,0,NaN,5000,0,NaN,sonstige_autos,NaN,2016-04-04,0,40239,2016-04-04
45157,2016-03-11,Motorhaube,privat,Angebot,NaN,control,NaN,1910,NaN,0,NaN,5000,0,NaN,trabant,NaN,2016-03-11,0,90491,2016-03-25
30781,2016-03-25,Opel_Calibra_V6_DTM_Bausatz_1:24,privat,Angebot,NaN,test,NaN,1910,NaN,0,calibra,100000,0,NaN,opel,NaN,2016-03-25,0,47638,2016-03-26
28693,2016-03-22,Renault_Twingo,privat,Angebot,599.0,control,kleinwagen,1910,manuell,0,NaN,5000,0,benzin,renault,NaN,2016-03-22,0,70376,2016-04-06
21416,2016-03-12,Essex_super_six__Ford_A,privat,Angebot,16500.0,control,cabrio,1927,manuell,40,andere,5000,5,benzin,ford,NaN,2016-03-12,0,74821,2016-03-15
22101,2016-03-09,BMW_Andere,privat,Angebot,11500.0,test,cabrio,1929,manuell,15,andere,5000,1,NaN,bmw,ja,2016-03-09,0,70569,2016-04-07
11246,2016-03-26,Ford_Model_A_Roadster_Deluxe_1931,privat,Angebot,27500.0,control,cabrio,1931,manuell,39,andere,10000,7,benzin,ford,nein,2016-03-26,0,9322,2016-04-06
2221,2016-03-15,Sehr_seltener_Oldtimer_Opel_1210_zum_Restaurieren,privat,Angebot,3350.0,control,andere,1934,manuell,0,andere,5000,0,benzin,opel,ja,2016-03-15,0,49828,2016-04-06
2573,2016-03-19,Hanomag_rekord_15k_Suche_ersatz_teile,privat,Angebot,3000.0,test,andere,1934,NaN,0,NaN,90000,1,benzin,sonstige_autos,nein,2016-03-19,0,90489,2016-03-19
26607,2016-03-21,MG_Andere,privat,Angebot,25500.0,control,cabrio,1937,manuell,50,NaN,50000,5,benzin,sonstige_autos,nein,2016-03-21,0,53804,2016-04-06
21421,2016-03-05,Ford_Business_Coupe_Hotrod_Projekt.1937,privat,Angebot,7000.0,test,coupe,1937,manuell,85,andere,5000,8,benzin,ford,ja,2016-03-05,0,8359,2016-04-07
39725,2016-03-25,Dodge_1937_Hotrod_Flathead_Scheunenfund_Oldtim...,privat,Angebot,8990.0,control,limousine,1937,NaN,0,NaN,150000,7,benzin,sonstige_autos,NaN,2016-03-25,0,3042,2016-04-05
23804,2016-03-30,Mercedes_Benz_170V,privat,Angebot,4800.0,control,limousine,1937,manuell,38,andere,5000,0,benzin,mercedes_benz,NaN,2016-03-30,0,23936,2016-03-30
26103,2016-03-16,Oldtimer_Sport___Cabrio_Georges_Irat,privat,Angebot,8500.0,test,cabrio,1938,manuell,0,NaN,5000,6,benzin,sonstige_autos,ja,2016-03-16,0,61118,2016-03-16
24855,2016-03-31,Andere_DKW_F8_Cabrio_Limosine,privat,Angebot,26600.0,control,cabrio,1939,NaN,0,NaN,5000,7,NaN,sonstige_autos,ja,2016-03-31,0,55278,2016-04-06
25792,2016-03-09,Andere_GAZ_Oldtimergelaendewagen_1941,privat,Angebot,9500.0,control,suv,1941,manuell,57,NaN,40000,1,benzin,sonstige_autos,nein,2016-03-09,0,59557,2016-03-12
13963,2016-03-20,Mercedes_Benz_L1500S_Wehrmacht_/_Luftwaffe___F...,privat,Angebot,26900.0,test,andere,1941,manuell,60,andere,60000,7,benzin,mercedes_benz,nein,2016-03-20,0,38723,2016-04-07
11585,2016-03-11,Volkswagen__VW_Typ_82,privat,Angebot,41900.0,test,cabrio,1943,NaN,0,andere,100000,7,NaN,volkswagen,ja,2016-03-11,0,84174,2016-03-21
11047,2016-03-08,Andere_Simca_5_Fourgonette_Kombilimousine,privat,Angebot,17500.0,control,kombi,1948,manuell,0,NaN,60000,6,benzin,sonstige_autos,nein,2016-03-08,0,47546,2016-04-05

in closer inspection, all the ads with registration year under 1927 are either mistakes or promotional ads. Not real cars from that date. Thus, we will only consider the values with cars registered from 1927 and on

In [48]:
autos=autos[autos['registration_year']>=1927]

In [49]:
autos['registration_year'].describe()

count    49985.000000
mean      2005.166790
std        105.421808
min       1927.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

we'll do a similar process for cars on the upper limit of year of registration

In [53]:
autos[autos['registration_year']>2016].sort_values(by='registration_year')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
10,2016-03-15,VW_Golf_Tuning_in_siber/grau,privat,Angebot,999.0,test,NaN,2017,manuell,90,NaN,150000,4,benzin,volkswagen,nein,2016-03-14,0,86157,2016-04-07
30470,2016-03-07,Seat_Leon_16_V,privat,Angebot,2000.0,control,NaN,2017,manuell,105,leon,150000,9,benzin,seat,nein,2016-03-07,0,57489,2016-04-07
30336,2016-03-19,?NISSAN_ALMERA_?650Â€?TÃœV_05/2017_TUNINGK?,privat,Angebot,650.0,test,NaN,2017,manuell,75,almera,150000,5,benzin,nissan,NaN,2016-03-19,0,74363,2016-03-19
30266,2016-03-29,Renault_Scenic_1.6_Tuev_04/17,privat,Angebot,1900.0,test,NaN,2017,manuell,0,scenic,150000,0,benzin,renault,ja,2016-03-29,0,10783,2016-04-05
30263,2016-03-29,VW_Golf_VI_6_GTI_DSG_260ps_R,privat,Angebot,16000.0,test,NaN,2017,automatik,260,golf,125000,10,benzin,volkswagen,NaN,2016-03-29,0,54518,2016-04-05
30262,2016-04-01,Renault_Megane_1.6_16V_Expression_KlimaTÃœV_04/17,privat,Angebot,899.0,control,NaN,2017,manuell,107,megane,150000,4,benzin,renault,nein,2016-04-01,0,7589,2016-04-05
30219,2016-04-01,Audi_A3_rs3_1.8_Turbo_AGU_150PS_8_fachbereift,privat,Angebot,1490.0,test,NaN,2017,manuell,150,a3,150000,5,NaN,audi,nein,2016-04-01,0,33334,2016-04-03
30175,2016-03-27,Toyota_Corolla_Verso._7_sitzt,privat,Angebot,6250.0,control,NaN,2017,NaN,177,verso,150000,0,NaN,toyota,NaN,2016-03-27,0,94209,2016-04-07
30149,2016-03-09,schoenes_Coupe_mit_Gasanlage_sehr_gepflegt,privat,Angebot,2000.0,test,NaN,2017,manuell,0,c_klasse,150000,0,lpg,mercedes_benz,NaN,2016-03-09,0,45127,2016-03-16
30122,2016-03-07,Ford_Galaxy_Tuev_2017__2.0_TDCI,privat,Angebot,5850.0,control,NaN,2017,manuell,136,galaxy,150000,10,NaN,ford,NaN,2016-03-07,0,50737,2016-04-07
30085,2016-03-20,VW_Touran_2008_in_sehr_gutem_Zustand_zu_verkaufen,privat,Angebot,6000.0,control,NaN,2017,automatik,105,touran,150000,1,diesel,volkswagen,NaN,2016-03-20,0,71394,2016-03-24
30502,2016-03-26,BMW_520d_Automatik__TÃœV_bis_12.17,privat,Angebot,13000.0,test,NaN,2017,automatik,177,5er,125000,10,NaN,bmw,nein,2016-03-26,0,12685,2016-04-02
30038,2016-03-14,Seat_Leon_2.8_V6,privat,Angebot,7590.0,control,NaN,2017,manuell,204,leon,80000,3,benzin,seat,nein,2016-03-14,0,99817,2016-03-14
29983,2016-03-23,Auto_T5_Volkswagen,privat,Angebot,16000.0,test,NaN,2017,manuell,105,transporter,150000,0,diesel,volkswagen,NaN,2016-03-23,0,70499,2016-04-06
29976,2016-03-28,Hyundai_sonata_2.7_v6,privat,Angebot,2000.0,control,NaN,2017,automatik,180,NaN,150000,1,benzin,hyundai,nein,2016-03-27,0,13351,2016-03-28
29945,2016-03-19,Mercedes_Benz_A_Klasse,privat,Angebot,550.0,test,NaN,2017,automatik,82,a_klasse,100000,0,benzin,mercedes_benz,ja,2016-03-19,0,26384,2016-03-19
29929,2016-03-13,twingo_zum_schlachten,privat,Angebot,200.0,control,NaN,2017,manuell,58,twingo,5000,6,NaN,renault,NaN,2016-03-13,0,47139,2016-03-17
29917,2016-03-08,VW_Golf_Kombi,privat,Angebot,1100.0,control,NaN,2017,manuell,0,NaN,150000,0,benzin,volkswagen,NaN,2016-03-08,0,80937,2016-03-11
29882,2016-03-10,Mazda_323__TÃœV_neu,privat,Angebot,1000.0,control,NaN,2017,manuell,88,NaN,150000,6,benzin,mazda,nein,2016-03-10,0,39596,2016-03-26
29798,2016-03-17,Verkaufe_Opel_agila_a,privat,Angebot,680.0,control,NaN,2017,manuell,80,agila,90000,0,benzin,opel,NaN,2016-03-17,0,65232,2016-03-17
29782,2016-03-12,Verkauf_oder_Tausch,privat,Angebot,1150.0,test,NaN,2017,manuell,75,clio,150000,5,benzin,renault,nein,2016-03-12,0,28201,2016-03-17
29720,2016-03-22,BMW_e30_Cabrio,privat,Angebot,5900.0,control,NaN,2017,NaN,118,NaN,150000,0,NaN,bmw,nein,2016-03-22,0,85049,2016-03-26
29686,2016-04-05,Alfa_Romeo_147_1.6_Twin_Spark,privat,Angebot,2750.0,test,NaN,2017,manuell,120,147,150000,3,lpg,alfa_romeo,nein,2016-04-05,0,70567,2016-04-05
30012,2016-03-27,BMW_316_i_TÃœV_bis__03.2017,privat,Angebot,900.0,control,NaN,2017,NaN,102,NaN,150000,6,NaN,bmw,NaN,2016-03-27,0,32689,2016-03-30
29682,2016-03-28,BMW_118_D__Sportpaket_Sportfahrwerk_Sportsitze...,privat,Angebot,9890.0,control,NaN,2017,manuell,143,1er,125000,1,diesel,bmw,nein,2016-03-27,0,90768,2016-04-05
30505,2016-03-14,VW_Lupo_1_4_L,privat,Angebot,2500.0,control,NaN,2017,NaN,60,lupo,150000,4,NaN,volkswagen,nein,2016-03-14,0,79183,2016-04-05
30570,2016-03-21,Golf_3,privat,Angebot,750.0,test,NaN,2017,manuell,60,golf,90000,0,benzin,volkswagen,ja,2016-03-21,0,23558,2016-04-02
31341,2016-03-21,VW_POLO___DIESEL___TÃœV_Neu___guter_Zustand,privat,Angebot,3100.0,control,NaN,2017,manuell,75,polo,150000,7,diesel,volkswagen,NaN,2016-03-21,0,29225,2016-04-06
31329,2016-03-17,mercedes_sprinter_413_cdi__maxi_pritsche,privat,Angebot,5950.0,test,NaN,2017,manuell,129,sprinter,150000,12,diesel,mercedes_benz,NaN,2016-03-17,0,12055,2016-03-22
31321,2016-03-26,Golf_7_DSG_Highline,privat,Angebot,18700.0,test,NaN,2017,automatik,140,NaN,50000,11,benzin,volkswagen,nein,2016-03-26,0,86163,2016-04-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7272,2016-03-21,Auto_fahrbereit_gutem_zustand,privat,Angebot,1500.0,test,NaN,2018,manuell,64,polo,150000,3,NaN,volkswagen,nein,2016-03-21,0,56587,2016-03-22
40254,2016-03-17,Mercedes_Benz_E_240,privat,Angebot,2799.0,control,NaN,2018,automatik,170,NaN,150000,8,NaN,mercedes_benz,NaN,2016-03-17,0,33790,2016-03-19
7842,2016-03-19,Renault_Twingo_TÃœV_NEU,privat,Angebot,2900.0,test,NaN,2018,manuell,75,twingo,100000,1,NaN,renault,nein,2016-03-19,0,12307,2016-03-21
7280,2016-03-24,"BMW_318TI_Compact____M_Paket__""Sport_Edition""_...",privat,Angebot,1950.0,test,NaN,2018,manuell,140,3er,150000,0,benzin,bmw,nein,2016-03-24,0,65232,2016-03-25
7283,2016-03-21,Renault_Kangoo,privat,Angebot,1250.0,control,NaN,2018,NaN,75,kangoo,150000,0,NaN,renault,NaN,2016-03-21,0,32756,2016-03-21
25916,2016-03-27,"Golf_2_VR6_Turbo_""HGP""",privat,Angebot,11900.0,control,NaN,2018,manuell,400,golf,5000,5,NaN,volkswagen,NaN,2016-03-27,0,33615,2016-04-05
7329,2016-03-21,Fiat_Punto_1.9_Diesel__Euro_3_TÃœV_neu_2_Jahre_...,privat,Angebot,1300.0,control,NaN,2018,manuell,0,punto,150000,0,diesel,fiat,NaN,2016-03-21,0,20539,2016-03-21
40078,2016-03-29,Lancia_ypsilon_1.4__klima/_2_Hand_Neue_/TÃœVSch...,privat,Angebot,3799.0,control,NaN,2018,manuell,75,ypsilon,125000,12,benzin,lancia,nein,2016-03-29,0,64331,2016-04-01
26406,2016-03-20,Citroen_C3_Automatik___fette_Alus_+_LED_Rueckl...,privat,Angebot,2995.0,test,NaN,2018,automatik,108,NaN,100000,1,NaN,citroen,nein,2016-03-20,0,99974,2016-03-28
38342,2016-03-07,Suche_Auto_fuer_die_jagd_zum_tauschen,privat,Angebot,NaN,control,NaN,2019,NaN,0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-03-07,0,18510,2016-04-06
5763,2016-03-05,Suche_Auspuff_Anlage_honda_crx_del_sol,privat,Angebot,100.0,test,NaN,2019,manuell,125,cr_reihe,20000,4,NaN,honda,nein,2016-03-05,0,18106,2016-03-06
49185,2016-03-28,Alfa_Romeo_156_Sportwagon_1_8_T_Spark,privat,Angebot,1200.0,control,NaN,2019,manuell,140,156,150000,5,benzin,alfa_romeo,nein,2016-03-28,0,91058,2016-04-06
27578,2016-03-31,VW_GOLF_2_SYNCRO,privat,Angebot,1700.0,test,NaN,2800,manuell,98,NaN,5000,7,benzin,volkswagen,NaN,2016-03-31,0,83022,2016-03-31
4549,2016-04-01,Kompressor,privat,Angebot,1600.0,test,NaN,4100,NaN,0,NaN,5000,0,NaN,sonstige_autos,NaN,2016-04-01,0,67686,2016-04-05
453,2016-03-28,Armee_Jeep,privat,Angebot,9800.0,test,NaN,4500,manuell,0,andere,5000,0,NaN,jeep,NaN,2016-03-28,0,7545,2016-04-06
42079,2016-03-17,APE_50___deutsche_Papiere_!!!,privat,Angebot,500.0,control,NaN,4800,manuell,3,NaN,5000,11,NaN,sonstige_autos,NaN,2016-03-17,0,48653,2016-03-17
49153,2016-03-12,Corsa_c20xe,privat,Angebot,2500.0,test,NaN,5000,NaN,0,corsa,5000,0,NaN,opel,NaN,2016-03-12,0,88214,2016-03-12
24519,2016-03-05,4x_Winterreifen_auf_Alufelge_der_naechste_Wint...,privat,Angebot,250.0,test,NaN,5000,NaN,0,andere,5000,0,NaN,seat,NaN,2016-03-05,0,49124,2016-04-05
4164,2016-03-29,Verkaufe_DESIGN_Streifen_/_Aufkleber_VW__Opel_...,privat,Angebot,NaN,control,NaN,5000,NaN,0,golf,5000,12,NaN,volkswagen,NaN,2016-03-29,0,74523,2016-04-06
22799,2016-03-20,Subaru_Impreza_GT,privat,Angebot,9000.0,test,NaN,5000,manuell,420,impreza,5000,6,benzin,subaru,nein,2016-03-20,0,34253,2016-04-07
27618,2016-03-29,Golf_1_75ps_5911km_Original_Automatik_einer_de...,privat,Angebot,7999.0,test,NaN,5911,automatik,75,golf,10000,0,NaN,volkswagen,NaN,2016-03-29,0,41462,2016-04-06
8360,2016-03-11,Vito_touret_119_Blue_Tec,privat,Angebot,42800.0,control,NaN,6200,automatik,0,vito,10000,7,diesel,mercedes_benz,nein,2016-03-11,0,63739,2016-03-19
25003,2016-03-06,Reo_Vorkriegs_Oldtimer_Rennwagen_1928,privat,Angebot,6500.0,control,NaN,8888,NaN,0,NaN,10000,0,NaN,sonstige_autos,NaN,2016-03-06,0,55262,2016-03-30
13559,2016-03-19,Saab_9000_CSE_Automatik_2_3_ltr._mit_EGSD,privat,Angebot,NaN,control,NaN,9000,automatik,170,9000,150000,2,benzin,saab,nein,2016-03-19,0,32457,2016-03-21
49910,2016-04-03,Schoener_fast_neuer_Opel_Mokka_in_Zell_Mosel_m...,privat,Angebot,22200.0,test,NaN,9000,automatik,140,andere,10000,3,benzin,opel,NaN,2016-04-03,0,56856,2016-04-05
6308,2016-03-12,Kaufe_Autos_jeglicher,privat,Angebot,NaN,test,NaN,9996,NaN,0,NaN,10000,0,NaN,sonstige_autos,NaN,2016-03-12,0,21244,2016-03-12
33950,2016-03-23,58er_karmann_ghia_lowlight_Kaefer__zum_restaur...,privat,Angebot,7999.0,test,NaN,9999,NaN,0,kaefer,10000,0,NaN,volkswagen,NaN,2016-03-23,0,47638,2016-04-06
8012,2016-03-23,Opel_GT_Karosserie_mit_Brief!,privat,Angebot,700.0,test,NaN,9999,NaN,0,andere,10000,0,NaN,opel,NaN,2016-03-23,0,21769,2016-04-05
38076,2016-04-04,Mercedes_Benz_A180,privat,Angebot,18000.0,test,NaN,9999,NaN,0,a_klasse,10000,0,benzin,mercedes_benz,NaN,2016-04-04,0,51379,2016-04-07
14341,2016-03-23,Hole_kostenlos_ab,privat,Angebot,NaN,test,NaN,9999,NaN,0,NaN,10000,0,NaN,bmw,NaN,2016-03-23,0,32689,2016-03-23

since the crawling was done on spring 2016, it seems difficult to believe that there were cars from 2017 or 2018 already been posted that early since they tipically come out on the fall. Thus, we'll drop all the values from 2017 and up'

In [54]:
autos=autos[autos['registration_year']<=2016]

In [55]:
autos['registration_year'].describe()

count    48019.000000
mean      2002.820904
std          7.200279
min       1927.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

In [58]:
autos['registration_year'].value_counts(normalize=True).sort_index()

1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000042
1937    0.000083
1938    0.000021
1939    0.000021
1941    0.000042
1943    0.000021
1948    0.000021
1950    0.000062
1951    0.000042
1952    0.000021
1953    0.000021
1954    0.000042
1955    0.000042
1956    0.000104
1957    0.000042
1958    0.000083
1959    0.000146
1960    0.000708
1961    0.000125
1962    0.000083
1963    0.000187
1964    0.000250
1965    0.000354
1966    0.000458
1967    0.000562
1968    0.000541
1969    0.000396
          ...
1987    0.001562
1988    0.002957
1989    0.003769
1990    0.008226
1991    0.007414
1992    0.008143
1993    0.009267
1994    0.013745
1995    0.027343
1996    0.030071
1997    0.042233
1998    0.051084
1999    0.062475
2000    0.069847
2001    0.056290
2002    0.052750
2003    0.056790
2004    0.056998
2005    0.062788
2006    0.056394
2007    0.047981
2008    0.046461
2009    0.043691
2010    0.033258
2011    0.034028
2012    0.027552
2013    0.016785
2014    0.013870
2015    0.008309
2016    0.027406
Name: registration_year, Length: 77, dtype: float64

we can see that the biggest distribution is of vehicles made after 1995

now that we have cleaned the data a little bit, I will dig some more into some aspects like, what brands are more expensive for instance

let's look into that by aggregating by brand and calculating both, mean and max per brand, then sorting descending and looking at the top five most expensive brands

In [60]:
autos['brand'].value_counts(normalize='True').sort_values()

lada              0.000604
lancia            0.001083
rover             0.001354
daewoo            0.001499
trabant           0.001541
jaguar            0.001583
saab              0.001604
land_rover        0.002041
subaru            0.002187
jeep              0.002249
dacia             0.002561
daihatsu          0.002561
chrysler          0.003665
chevrolet         0.005706
suzuki            0.005914
porsche           0.006102
alfa_romeo        0.006622
kia               0.007101
honda             0.007851
mitsubishi        0.008143
mini              0.008642
volvo             0.009246
hyundai           0.009850
sonstige_autos    0.010850
toyota            0.012474
smart             0.013911
citroen           0.013932
nissan            0.015098
mazda             0.015140
skoda             0.016035
seat              0.018180
fiat              0.025865
peugeot           0.029530
renault           0.047335
ford              0.069806
audi              0.086403
mercedes_benz     0.095379
opel              0.108145
bmw               0.110040
volkswagen        0.212166
Name: brand, dtype: float64

In [70]:
my_list=[]
max_dict={}
mean_dict={}
my_list=autos['brand'].value_counts().index

In [71]:
for var in my_list:
    temp_max=autos['price'][autos['brand']==var].max()
    max_dict[var]=temp_max
    
    temp_mean=autos['price'][autos['brand']==var].mean()
    mean_dict[var]=temp_mean

In [83]:
sorted(max_dict.items())

[('alfa_romeo', 55000.0),
 ('audi', 175000.0),
 ('bmw', 259000.0),
 ('chevrolet', 56500.0),
 ('chrysler', 20000.0),
 ('citroen', 33000.0),
 ('dacia', 16350.0),
 ('daewoo', 2900.0),
 ('daihatsu', 9900.0),
 ('fiat', 25000.0),
 ('ford', 130000.0),
 ('honda', 41900.0),
 ('hyundai', 29999.0),
 ('jaguar', 58900.0),
 ('jeep', 55800.0),
 ('kia', 28450.0),
 ('lada', 6500.0),
 ('lancia', 29500.0),
 ('land_rover', 99000.0),
 ('mazda', 38900.0),
 ('mercedes_benz', 180000.0),
 ('mini', 34500.0),
 ('mitsubishi', 37800.0),
 ('nissan', 34999.0),
 ('opel', 38990.0),
 ('peugeot', 25500.0),
 ('porsche', 350000.0),
 ('renault', 93000.0),
 ('rover', 23500.0),
 ('saab', 18900.0),
 ('seat', 33500.0),
 ('skoda', 32700.0),
 ('smart', 16850.0),
 ('sonstige_autos', 345000.0),
 ('subaru', 31800.0),
 ('suzuki', 23200.0),
 ('toyota', 49500.0),
 ('trabant', 6480.0),
 ('volkswagen', 64500.0),
 ('volvo', 29500.0)]

We can see that porsche has the max price. let's see the mean price per brand

In [84]:
sorted(mean_dict.items())

[('alfa_romeo', 4100.915857605178),
 ('audi', 9373.771428571428),
 ('bmw', 8376.805088062622),
 ('chevrolet', 6709.358490566037),
 ('chrysler', 3465.743902439024),
 ('citroen', 3784.924961715161),
 ('dacia', 5915.528455284553),
 ('daewoo', 1064.0579710144928),
 ('daihatsu', 1636.1965811965813),
 ('fiat', 2818.456066945607),
 ('ford', 3762.1165436654364),
 ('honda', 4119.109589041096),
 ('hyundai', 5376.740899357602),
 ('jaguar', 11635.493150684932),
 ('jeep', 11650.5),
 ('kia', 5982.330303030303),
 ('lada', 2688.296296296296),
 ('lancia', 3444.877551020408),
 ('land_rover', 19108.091836734693),
 ('mazda', 4112.596614950635),
 ('mercedes_benz', 8663.059308807135),
 ('mini', 10639.450980392157),
 ('mitsubishi', 3430.25),
 ('nissan', 4750.063202247191),
 ('opel', 2996.585639791416),
 ('peugeot', 3100.6928057553955),
 ('porsche', 46455.89323843416),
 ('renault', 2484.749087591241),
 ('rover', 1602.2903225806451),
 ('saab', 3211.6493506493507),
 ('seat', 4423.116745283019),
 ('skoda', 6393.018348623853),
 ('smart', 3591.0212443095597),
 ('sonstige_autos', 12642.134228187919),
 ('subaru', 4033.7551020408164),
 ('suzuki', 4111.572463768116),
 ('toyota', 5167.091062394604),
 ('trabant', 1818.609375),
 ('volkswagen', 5424.9185419000105),
 ('volvo', 4993.208037825059)]

Porsche also has the highest mean price. 

Now, as we can see. Using dictionaries it is more difficult to get the top five or even order by value. For both of these processes we would need loops.

Let's see if we can do it easier and faster through Pandas dataframes

In [87]:
temp_df=autos.groupby('brand')['price'].max()

In [91]:
temp_df.sort_values(ascending=False).head()

brand
porsche           350000.0
sonstige_autos    345000.0
bmw               259000.0
mercedes_benz     180000.0
audi              175000.0
Name: price, dtype: float64

as we can see, in these two short steps we:
    got the max price for each brand
    printed the top 5 
    sorted in descending order as we wanted originally.
 
 ### This is the power of PANDAS!!!!!

In [94]:
temp_df=autos.groupby('brand')['price'].mean()
temp_df.sort_values(ascending=False).head()

brand
porsche           46455.893238
land_rover        19108.091837
sonstige_autos    12642.134228
jeep              11650.500000
jaguar            11635.493151
Name: price, dtype: float64

what if we include mileage on the mean per brand? would that tell us anything? let's see

In [97]:
temp_df=autos.groupby('brand')['price','odometer_km'].mean()
temp_df.sort_values(by='price', ascending=False).head()

                       price    odometer_km
brand
porsche         46455.893238   97457.337884
land_rover      19108.091837  118010.204082
sonstige_autos  12642.134228   88051.823417
jeep            11650.500000  127546.296296
jaguar          11635.493151  120921.052632

we can see that Jeep, Land rover and Jaguar all retain their value for longer time/usage

now, it seems odd that Jeep, and sonstige would be in the top five expensive cars over brands like audi, mercedez, bmv. The high value of porsche is also suspicious because it seems like an outlier. Let's check on thos columns once again to see if we can find error values

In [99]:
autos['price'][autos['brand']=='porsche'].describe()

count       281.000000
mean      46455.893238
std       49039.731963
min          65.000000
25%       14986.000000
50%       31500.000000
75%       55900.000000
max      350000.000000
Name: price, dtype: float64

We can see that most values are under 55K. there is however, a max of 350k. Let's inspect it

In [102]:
autos[autos['brand']=='porsche'].sort_values(by='price')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
39324,2016-03-22,Schoene_super_moderne_auffallende_MODEuhr___Ba...,privat,Angebot,65.0,control,NaN,2008,NaN,0,911,5000,0,NaN,porsche,NaN,2016-03-22,0,34119,2016-03-22
1905,2016-03-23,Schoene_super_moderne_auffallende_MODEuhr___Ba...,privat,Angebot,65.0,control,NaN,2008,NaN,0,911,5000,0,NaN,porsche,NaN,2016-03-23,0,34119,2016-03-23
37284,2016-03-28,"Porsche_911_Carrera_1972__RS_Buch___""Nur_500_M...",privat,Angebot,444.0,test,coupe,1972,NaN,210,911,5000,1,benzin,porsche,NaN,2016-03-28,0,34414,2016-04-06
21179,2016-03-12,Porsche_924,privat,Angebot,1300.0,control,coupe,1981,manuell,128,andere,90000,3,benzin,porsche,ja,2016-03-12,0,54597,2016-03-12
16705,2016-03-15,Porsche_924_Targa,privat,Angebot,1300.0,control,cabrio,1980,manuell,125,andere,80000,7,benzin,porsche,ja,2016-03-15,0,13409,2016-03-20
34641,2016-03-12,Verkaufe_Porsche_924,privat,Angebot,1300.0,control,NaN,1985,manuell,0,andere,90000,0,benzin,porsche,ja,2016-03-12,0,54597,2016-03-12
32504,2016-03-14,Porsche_924S_Targa,privat,Angebot,2800.0,test,coupe,1986,manuell,0,andere,150000,2,benzin,porsche,ja,2016-03-14,0,70619,2016-03-21
37169,2016-03-07,Porsche_924_/_944_Oldtimer_Scheunenfund_/_Stro...,privat,Angebot,2800.0,test,coupe,1977,manuell,125,andere,150000,0,benzin,porsche,NaN,2016-03-07,0,94474,2016-04-07
10572,2016-03-13,Porsche_Cayenne_Diesel_Tiptronic_S,privat,Angebot,3500.0,control,suv,2013,automatik,245,cayenne,40000,10,diesel,porsche,nein,2016-03-13,0,86156,2016-03-13
14356,2016-03-31,911_SC_Karosserie_ohne_Papiere,privat,Angebot,4000.0,control,coupe,1985,NaN,0,911,5000,0,benzin,porsche,NaN,2016-03-31,0,50858,2016-03-31
44861,2016-03-09,Suche_SUV_Cayenne_ML_X5_Q7_Range_Rover_Tuareg_...,privat,Angebot,5000.0,test,suv,2006,automatik,450,cayenne,100000,1,lpg,porsche,NaN,2016-03-09,0,12355,2016-04-05
48063,2016-03-19,Porsche_924_aus_1981_H_Kennzeichen_moeglich__u...,privat,Angebot,5499.0,test,NaN,1985,manuell,125,andere,100000,0,benzin,porsche,nein,2016-03-19,0,56203,2016-03-20
14226,2016-03-18,Porsche_Cayenne_Tiptronic_S,privat,Angebot,5500.0,control,suv,2005,automatik,250,cayenne,150000,6,lpg,porsche,ja,2016-03-18,0,56727,2016-03-21
22274,2016-03-30,Porsche_924_targa_mit_H_Kennzeichen,privat,Angebot,5924.0,test,coupe,1985,manuell,125,andere,80000,5,benzin,porsche,nein,2016-03-28,0,51674,2016-04-02
10979,2016-03-11,Porsche_914_Targa__Bj._1971__gelb__1.7_ltr.,privat,Angebot,6300.0,control,cabrio,1971,manuell,80,andere,150000,0,NaN,porsche,NaN,2016-03-11,0,51580,2016-04-05
21592,2016-04-03,Porsche_Boxster_S_3.2L_H6_24V,privat,Angebot,6550.0,control,cabrio,2005,automatik,280,boxster,70000,8,benzin,porsche,nein,2016-04-03,0,63773,2016-04-03
9317,2016-04-02,Porsche_911__3387_Carrera_Cabriolet_3.4_6_300_...,privat,Angebot,7300.0,control,cabrio,2000,manuell,0,911,125000,3,benzin,porsche,nein,2016-04-02,0,60329,2016-04-02
3264,2016-03-20,Porsche_Boxster,privat,Angebot,7990.0,control,cabrio,1998,manuell,204,boxster,150000,8,benzin,porsche,nein,2016-03-20,0,79336,2016-04-07
38942,2016-03-29,Porsche_Cayenne_S_Tiptronic_S_Xeon_Tuev_Neu,privat,Angebot,8300.0,test,suv,2004,automatik,340,cayenne,150000,11,benzin,porsche,nein,2016-03-29,0,71229,2016-04-05
581,2016-04-01,Porsche_924_S,privat,Angebot,8400.0,test,coupe,1986,manuell,150,andere,150000,7,benzin,porsche,nein,2016-04-01,0,75233,2016-04-07
47210,2016-03-31,Porsche_Boxster,privat,Angebot,8499.0,control,cabrio,1997,manuell,204,boxster,150000,1,benzin,porsche,nein,2016-03-31,0,66839,2016-04-06
24807,2016-03-06,Porsche_912,privat,Angebot,8500.0,control,coupe,1967,manuell,0,andere,70000,6,benzin,porsche,nein,2016-03-06,0,67714,2016-03-06
23160,2016-04-03,Porsche_911_964_Carrera_2_Cabrio_Tiptronic,privat,Angebot,8550.0,test,cabrio,1991,manuell,250,911,125000,9,benzin,porsche,nein,2016-04-03,0,27432,2016-04-03
45114,2016-03-05,Porsche_Cayenne_Turbo__voll_Ausstattung,privat,Angebot,8800.0,control,suv,2003,automatik,450,cayenne,150000,10,benzin,porsche,nein,2016-03-05,0,60388,2016-03-12
217,2016-03-25,PORSCHE_924S__11/1989,privat,Angebot,8900.0,control,coupe,1989,NaN,160,andere,150000,11,benzin,porsche,NaN,2016-03-25,0,45136,2016-04-06
24603,2016-03-24,Porsche_944_S_2,privat,Angebot,8944.0,test,coupe,1991,manuell,211,andere,150000,1,benzin,porsche,nein,2016-03-24,0,59909,2016-04-07
32107,2016-03-18,Porsche_Karmann_Coupe_356,privat,Angebot,9000.0,test,coupe,1965,NaN,0,andere,150000,8,NaN,porsche,nein,2016-03-18,0,56368,2016-03-18
48660,2016-03-22,Porsche_Porsche_924_Turbo,privat,Angebot,9500.0,control,coupe,1980,NaN,0,andere,125000,1,NaN,porsche,nein,2016-03-22,0,2826,2016-04-07
31182,2016-03-11,Porsche_Boxster_mit_Hardtop,privat,Angebot,9900.0,test,cabrio,1997,manuell,204,boxster,100000,9,benzin,porsche,NaN,2016-03-11,0,91154,2016-03-15
12205,2016-03-07,Porsche_Cayenne_1.Hand_neue_20_Zoll_reifen_und...,privat,Angebot,9999.0,control,suv,2004,automatik,250,cayenne,150000,11,benzin,porsche,nein,2016-03-07,0,65795,2016-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8232,2016-04-01,Porsche_993_S_Schalter_BRD_neuwertig,privat,Angebot,128000.0,test,coupe,1997,manuell,286,911,100000,4,benzin,porsche,nein,2016-04-01,0,81543,2016-04-05
1878,2016-03-12,Porsche_911_Turbo,privat,Angebot,129000.0,control,coupe,1995,manuell,408,911,125000,9,benzin,porsche,nein,2016-03-12,0,70180,2016-04-05
14268,2016-04-01,Porsche_997_GT3_Approved_Lift_Unfallfrei_Mj.2011,privat,Angebot,135000.0,test,coupe,2010,manuell,435,911,30000,7,benzin,porsche,nein,2016-04-01,0,83684,2016-04-07
2454,2016-03-21,Porsche_911_GT3,privat,Angebot,137999.0,control,coupe,2010,manuell,435,911,20000,7,benzin,porsche,nein,2016-03-21,0,80636,2016-04-07
32185,2016-03-25,Porsche_997_GT3_MKII_EIN_SAMMLERSTÃœCK_IN_VOLLA...,privat,Angebot,139997.0,test,coupe,2010,manuell,435,911,20000,3,benzin,porsche,nein,2016-03-25,0,71159,2016-04-06
49668,2016-03-31,"Porsche_911__993__Carrera_S_""SONDERMODELL""",privat,Angebot,145000.0,control,coupe,1998,manuell,286,911,60000,7,benzin,porsche,nein,2016-03-31,0,63179,2016-04-06
33638,2016-03-24,Porsche_911_GT3_RS,privat,Angebot,151990.0,test,coupe,2007,manuell,415,911,20000,10,benzin,porsche,nein,2016-03-24,0,40479,2016-04-07
10500,2016-03-17,Porsche_991,privat,Angebot,155000.0,test,coupe,2013,NaN,476,911,20000,11,NaN,porsche,nein,2016-03-17,0,90768,2016-03-26
45387,2016-03-18,Porsche_911_GT3__Clubsp._Lift_nur_bis_25.03._v...,privat,Angebot,163500.0,test,coupe,2015,automatik,476,911,10000,9,benzin,porsche,nein,2016-03-18,0,74078,2016-03-18
22673,2016-03-05,Porsche_911_991_GT3_LED_Licht_Chrono_Navi_Club...,privat,Angebot,163991.0,test,coupe,2014,automatik,476,911,10000,6,benzin,porsche,nein,2016-03-05,0,51702,2016-03-09
18509,2016-03-27,Porsche_991_GT3,privat,Angebot,169000.0,control,coupe,2013,automatik,476,911,20000,9,benzin,porsche,nein,2016-03-27,0,83629,2016-04-05
43668,2016-03-16,Porsche_993/911_Turbo_WLS_II_Exclusive_S_deuts...,privat,Angebot,197000.0,control,coupe,1998,manuell,450,911,150000,3,NaN,porsche,nein,2016-03-16,0,46147,2016-04-07
40918,2016-03-20,Porsche_911_991_GT3_RS,privat,Angebot,198000.0,test,coupe,2015,automatik,500,911,5000,6,benzin,porsche,nein,2016-03-20,0,51491,2016-03-21
37840,2016-03-21,Porsche_997,privat,Angebot,220000.0,test,coupe,2008,manuell,415,911,30000,7,benzin,porsche,nein,2016-03-21,0,69198,2016-04-06
12682,2016-03-28,Porsche_GT3_RS__PCCB__Lift___grosser_Exklusiv_...,privat,Angebot,265000.0,control,coupe,2016,automatik,500,911,5000,3,benzin,porsche,nein,2016-03-28,0,70193,2016-04-05
35923,2016-04-03,Porsche_911_Targa_Exclusive_Edition__1_von_15_...,privat,Angebot,295000.0,test,cabrio,2015,automatik,400,911,5000,6,benzin,porsche,nein,2016-04-03,0,74078,2016-04-03
34723,2016-03-23,Porsche_Porsche_911/930_Turbo_3.0__deutsche_Au...,privat,Angebot,299000.0,test,coupe,1977,manuell,260,911,100000,7,benzin,porsche,nein,2016-03-23,0,61462,2016-04-06
36818,2016-03-27,Porsche_991,privat,Angebot,350000.0,control,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-27,0,70499,2016-03-27
226,2016-03-25,Porsche_911_S_Targa__67er_SWB,privat,Angebot,NaN,control,cabrio,1967,manuell,160,911,5000,12,benzin,porsche,nein,2016-03-25,0,44575,2016-04-05
3178,2016-03-07,LACKIERARBEITEN_vom_Profi_zum_FAIREN_Preis!!!,privat,Angebot,NaN,test,NaN,1990,NaN,0,NaN,150000,0,NaN,porsche,NaN,2016-03-07,0,71636,2016-03-08
10258,2016-04-03,Originaler_Porsche_Kalender_Zu_Verkaufen!,privat,Angebot,NaN,test,NaN,2015,NaN,0,NaN,5000,0,NaN,porsche,NaN,2016-04-03,0,85456,2016-04-05
24078,2016-03-28,Porsche_911_T_Ã–lklappenmodell,privat,Angebot,NaN,control,andere,1972,manuell,125,911,150000,5,NaN,porsche,NaN,2016-03-28,0,24960,2016-03-28
28372,2016-03-17,500_Designer_Pumps_Echt_Leder_Italien_Restpost...,privat,Angebot,NaN,test,NaN,2015,NaN,0,NaN,5000,0,NaN,porsche,NaN,2016-03-16,0,50678,2016-03-17
31414,2016-03-14,Porsche_356_A_Coupe_Oldtimer_und_Porsche_356_C...,privat,Angebot,NaN,test,NaN,1960,manuell,0,andere,100000,0,benzin,porsche,NaN,2016-03-14,0,29693,2016-03-15
32091,2016-03-27,Oldtimer_fuer_meine_Sammlung__Porsche_911_356_...,privat,Angebot,NaN,test,coupe,1950,manuell,0,andere,100000,1,benzin,porsche,NaN,2016-03-27,0,51491,2016-04-05
32273,2016-03-10,Porsche_Mieten,privat,Angebot,NaN,test,NaN,2006,NaN,0,cayenne,150000,0,NaN,porsche,NaN,2016-03-10,0,41189,2016-03-12
33501,2016-03-27,Porsche_911_Targa_G_Modell_1976_Rohkarosserie,privat,Angebot,NaN,test,NaN,1980,NaN,0,911,100000,1,NaN,porsche,NaN,2016-03-26,0,60311,2016-04-07
40856,2016-03-11,Porsche_Drivers_Collection___Cayman_S___NEU__O...,privat,Angebot,NaN,control,NaN,2015,NaN,0,boxster,5000,0,NaN,porsche,NaN,2016-03-11,0,82031,2016-04-06
44818,2016-03-30,Porsche_944___Rostfrei__TÃœV_AU_neu__Gepflegt,privat,Angebot,NaN,control,coupe,1988,manuell,163,andere,150000,5,benzin,porsche,nein,2016-03-30,0,93133,2016-04-03
48006,2016-03-06,Tausche_Porsche_Boxster_2.7,privat,Angebot,NaN,test,cabrio,2001,automatik,235,boxster,150000,1,NaN,porsche,nein,2016-03-06,0,50737,2016-04-06